<div>
    <form action="/" method="get"><input type="submit" value="Home" class="link-button"/></form>
</div>
<br>

<form action="/folders/save" method="post">
    <input type="text" name="name" size="77"/>
    <input type="hidden" name="parent_folder_id" value="<%= @parent_folder_id %>">
    <input type="submit"/>
</form>
