<div class="header">
    <div>
        <form action="/" method="get">
            <input type="submit" value="Home" class="link-button"/>
        </form>
    </div>
    <% if current_user.admin? %>
        &nbsp;
        <div>
            <form action="/users" method="get"><input type="submit" value="All users" class="link-button"/></form>
        </div>
    <% end %>
    &nbsp;
    <div>
        <form action="/logout">
            <input type="submit" value="Logout" class="link-button"/>
        </form>
    </div>
    &nbsp;
</div>

<h2>Edit user info</h2>

<form method="post" action="/users/<%= @user.id %>/save">
  <div class="field">
    <label>Username</label><br>
    <input type="text" name="email" value="<%= @user.email %>" disabled=true>
  </div>

  <br>

  <div class="field">
    <label>Password</label><br>
    <input type="password" name="password">
  </div>

  <br>

  <div class="field">
    <label>Private</label><br>
    <input type="checkbox" name="private" <%= "checked" if @user.private %>>
  </div>

  <br>

  <div class="actions">
    <input type="submit" value="Save">
  </div>
</form>
