<div class="header">
    <div>
        <form action="/home" method="get"><input type="submit" value="Home" class="link-button"/></form>
    </div>

    <% if @doc.user_id == current_user.id %>
        &nbsp;
        <div>
            <form action="/docs/<%= @doc.id %>/edit" method="get">
                <input type="submit" value="Edit" class="link-button"/>
            </form>
        </div>
        &nbsp;
        <div>
            <form method="post" action="/docs/<%= @doc.id %>/destroy" onclick="return confirm('Are you sure?')">
                <input type="submit" class="link-button" value="Delete"/>
            </form>
        </div>
    <% end %>
</div>
<br>

<div class="doc-header">
    <b class="left"><%= @doc.name %></b>
</div>
<br>
<div class="mono"><%= @doc.data %></div>
