<div>
    <form action="/" method="get"><input type="submit" value="Home" class="link-button"/></form>
</div>
<br>

<form action="/docs/save" method="post">
    <input type="text" name="doc_name" size="77"/>
    <br><br>

    <div class="mono"><textarea name="doc_data" cols="80" rows="40"></textarea></div>
    <input type="hidden" name="folder_id" value="<%= @folder_id %>">
    <input type="submit"/>
</form>
